<h2> You're almost done! Now create a password to securely access your account.</h2>
    <%= form_for(resource, :as => resource_name, :url => confirm_path) do |f| %>
        <%= devise_error_messages! %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
        <%= f.hidden_field :confirmation_token, value: @original_token %>
        <%= f.submit %>
    <% end %>