<h2>Entering Page</h2>

<%= form_for @enter do |f| %>

<p>
    <%= f.label :email %><br>
    <%= f.text_field  :email %>
</p>
<p>
    <%= f.label :password %><br>
    <%= f.password_field  :password %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>

