<h1>Your List</h1>

<% if current_user.user_type=='superadmin' %>
<br>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>
	<span class="field">
		<%= f.label :name %>:
		<%= f.text_field  :name %>
	</span>
	<span class="field">
		<%= f.label :email %>:
		<%= f.text_field  :email %>
	</span>
	<span class="field">
		<%= f.label :user_type %>:
		<%= f.select :user_type, {'superadmin'=>'superadmin', 'instructor'=>'instructor', 'member'=>'member'} %>
	</span>
	<span class="field">
		<%= f.hidden_field :confirmation_token, value: "" %>
	</span>
	<span class="actions">
		<%= f.submit %>
	</span>

<% end %>
<br>
<% end %>

<table>
	<tr>
		<td>Name</td>
		<td>Day</td>
		<td>Type</td>
<!-- 		<td>Email</td>
		<td>Phone</td>
 -->		<td>Adding Start Time</td>
		<td>Adding End Time</td>
		<td>Entering Start Time</td>
		<td>Entering End Time</td>
	<% if current_user.user_type=='superadmin' %>
		<td>Quick Update</td>
<!-- 		<td>Edit</td> -->
		<td>Delete</td>
	<% end %>
	</tr>
	<% @users.each do |users| %>	
	<tr>
		<td><%= users.name %></td>
		<td><%= users.counter %></td>
		<td><%= users.user_type %></td>
<!-- 		<td><%= users.email %></td>
		<td><%= users.phone %></td> -->
	<% if current_user.user_type=='superadmin' && users.user_type!='superadmin' %>
	<%= form_for users do |f| %>
		<td><%= f.datetime_select :add_start, default: users.add_start, include_blank: true, discard_year: true, use_month_numbers: true %></td>
		<td><%= f.datetime_select :add_end, default: users.add_end, include_blank: true, discard_year: true, use_month_numbers: true %></td>
		<td><%= f.datetime_select :ent_start, default: users.ent_start, include_blank: true, discard_year: true, use_month_numbers: true %></td>
		<td><%= f.datetime_select :ent_end, default: users.ent_end, include_blank: true, discard_year: true, use_month_numbers: true %></td>
		<td><%= image_submit_tag("button_edit.png") %>
<!-- 		<td>
			<%= link_to image_tag("button_edit.png"), edit_user_registration_path(users) %>
		</td> -->
		<td>
			<%= link_to image_tag("button_delete.png"), user_path(users.id), method: :delete, data: {
			confirm: "are you sure?"} %>
		</td>
	<% end %>
	<% else %>
		<td><%= users.add_start %></td>
		<td><%= users.add_end %></td>
		<td><%= users.ent_start %></td>
		<td><%= users.ent_end %></td>
	<% end %>
	</tr>
	<% end %>
</table>
<br>
<br>
<%= link_to image_tag("button_events.png"), events_path %>
