<% if flash[:errors] %>
<ul>
	<% flash[:errors].each do |error_line| %>
	<ol>
		<%= error_line %>
	</ol>
	<% end %>
</ul>
<% end %>

<%= form_for @event do |f| %>
<p>
	<%= f.label :title %><br>
	<%= f.text_field  :title %>
</p>
<p>
	<%= f.label :description %><br>
	<%= f.text_field  :description %>
</p>
<p>
	<%= f.label :user_id %><br>
	<%= f.collection_select(:users, User.all, :id, :name) %>
</p>
<p>
	<%= label_tag 'Participants Info' %>(email, name, phone number)<br>  
	<% if f.user!=nil %>
	<%= text_area_tag 'Participants_Info', user_info, row:5 %>
	<% else %>
	<%= text_area_tag 'Participants_Info', nil, rows: 5 %>
	<% end %>
</p>

<p>
	<%= f.submit %>
</p>
<% end %>
