<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error_line| %>
      <ol>
	<%= error_line %>
      </ol>
    <% end %>
  </ul>
<% end %>

<%= form_for @event do |f| %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field  :title %>
	</p>
	<p>
		<%= f.label :description %><br>
		<%= f.text_field  :description %>
	</p>
	<p>
		<%= f.label :user_id %><br>
		<%= f.collection_select(:users, User.all, :id, :name) %>
	</p>
	<p>
	  <%= label_tag 'Participants Info' %><br>
	  <%= text_area_tag 'Participants_Info', nil, rows: 5 %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
