<% if flash[:errors] %>
<ul>
	<% flash[:errors].each do |error_line| %>
	<ol>
		<%= error_line %>
	</ol>
	<% end %>
</ul>
<% end %>

<%= form_for @event do |f| %>
<p>
	<%= f.label :title %><br>
	<%= f.text_field  :title %>
</p>
<p>
	<%= f.label :description %><br>
	<%= f.text_field  :description %>
</p>
<p>
	<!-- only admin can choose the event owner.
	otherwise, current_user would be the owner. -->
	<% if current_user.user_type=='superadmin' %>
	<%= f.label :user_id %><br>
	<%= f.collection_select(:users, User.all, :id, :name) %>
	<% else %>
	Owner<br>
	<li><%= User.find(current_user).name %></li>
	<% end %>
</p>
<p>
    <%= f.label :start %><br>
    <%= f.datetime_select :start, :default => Time.now%>
</p>
<p>
    <%= f.label :end %><br>
    <%= f.datetime_select :end, :default => Time.now+1.hour %>
</p>
<p>
	<%= label_tag 'Participants Info' %>(ex: email, name, phone number)<br>  
	<%= text_area_tag 'Participants_Info', @user_info, row:5 %>
</p>
<p>
	<%= f.hidden_field :token, value: @token %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>
