<h2>Current Events</h2>

<table>
	<% @events.each do |event| %>
	<tr>
		<td>
			<table>
				<tr>
					<td>Title:</td>
					<td><%= event.title %></td>
				</tr>
				<tr>
					<td>Author:</td>
					<td><%= event.owner.name %></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><%= event.description %></td>
				</tr>
			</table>
		</td>
		<td>
			<%= link_to image_tag("button_edit.png"), edit_event_path(event.id) %>
		</td>
		<td>
			<%= link_to image_tag("button_delete.png"), events_path(event.id), method: :delete, data: {
			confirm: "are you sure?"} %>
		</td>
	</tr>
	<tr>
	</tr>
	<% end %>
</table>
