<h2>Current Events </h2>
<% unless current_user.user_type=='member' && @counter>=1 %>
<%= link_to image_tag("button_add_events.png"), new_event_path %>
<% end %>

<table>
	<% @events.each do |event| %>
	<tr>
		<td>
			<table>
				<tr>
					<td>Title:</td>
					<td><%= event.title %></td>
				</tr>
				<tr>
					<td>Author:</td>
					<% if event.owner==nil %>
					<td></td>
					<% else %>
					<td><%= event.owner.name %></td>
					<% end %>
				</tr>
				<tr>
					<td>Description:</td>
					<td><%= event.description %></td>
				</tr>
				<% event.users.each do |user| %>
				<tr>
					<td>Participants:</td>
					<td><%= user.name %></td>
				</tr>
				<% end %>
			</table>
		</td>
		<td>
			<%= link_to image_tag("button_edit.png"), edit_event_path(event.id) %>
		</td>
		<td>
			<%= link_to image_tag("button_delete.png"), event_path(event.id), method: :delete, data: {
			confirm: "are you sure?"} %>
		</td>
	</tr>
	<tr>
	</tr>
	<% end %>
</table>
