<h2>The Payment Transaction has successfully done</h2>
<% if @user.password %>
Your daypass account has successfully provided. Please Log in with the password below.
<br>
<br>
<strong><%= @user.password %></strong>
<% else %>
Your daypass account has successfully provided. Please log in with your current password. 
If forget your password, click on the link below.
<br>
<br>
<%= render 'devise/shared/links' %>
<% end %>
<br>
<br>
<br>
<h3>User Info</h3>
<ul>
    <li>
        Email: <%= @charge.email %>
    </li>
    <li>
        Days: <%= @charge.counter %>
    </li>
    <li>
        Amount: $<%= @amount/100 %>.00
    </li>
</ul>
<br>
<%= link_to image_tag('button_enter.png', :class => "button_right"), enter_path %>
